@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  margin-bottom: -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left,#090a0f 0%, #0f131b 25%, #0f131b 50%,#0f131b 75%, #090a0f 100%);
  padding: 5px;
  height: 70px;
}

.navSecLeft{
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  color: white;
  padding-left: 20px;
  position: fixed;
  margin-top: -660px;
  margin-left: -1286px;

}

.navbar .left-section {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  color: white;
  padding-left: 20px;
}

.right-section {
  margin-right: 15px;
  margin-left: auto;
  display: flex;
  gap: 20px; /* Adjust the gap value as needed */
  align-items: center; /* Ensures buttons are aligned properly */
}

.navButton {
  font-family: "lato", sans-serif;
  --primary-color: #fff;
  --secondary-color: #002152;
  --hover-color: #eceff2;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: white; /* Ensure white text color */
  padding: 0.5em 0.9em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  text-decoration: none; /* Ensures no underline on links */
}
.navButton a {
  color: var(--secondary-color); /* Text color for the links */
  text-decoration: none; /* Removes underline */
}
.navButton .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButton .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.navButton .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.navButton:hover {
  background-color: var(--hover-color);
}

.navButton:hover .arrow {
  background: var(--secondary-color);
}

.navButton:hover .arrow:before {
  right: 0;
}


.homeText {
  font-size: 18px;
  background: -webkit-linear-gradient(white, #4f6a85);
  margin-top: 30px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
  margin-right: 75px;
  margin-left: 75px;
}
.aboutUs {
  font-size: 20px;
  margin-top: -10px;
  letter-spacing: 7px;
}
#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -80px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

html {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow:hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 318px 758px #fff, 1522px 446px #fff, 1134px 897px #fff,
    453px 1465px #fff, 24px 1116px #fff, 1520px 1075px #fff, 1966px 871px #fff,
    707px 1782px #fff, 338px 338px #fff, 1315px 1947px #fff, 1536px 1971px #fff,
    349px 22px #fff, 1627px 124px #fff, 540px 1310px #fff, 1323px 1868px #fff,
    569px 9px #fff, 1665px 1117px #fff, 582px 1811px #fff, 578px 111px #fff,
    1325px 415px #fff, 1552px 907px #fff, 596px 993px #fff, 759px 578px #fff,
    901px 585px #fff, 1802px 1273px #fff, 967px 166px #fff, 874px 770px #fff,
    715px 1253px #fff, 1230px 529px #fff, 1808px 1824px #fff, 592px 607px #fff,
    1280px 263px #fff, 1240px 1949px #fff, 1501px 388px #fff, 610px 1865px #fff,
    1558px 467px #fff, 823px 1610px #fff, 1039px 941px #fff, 1415px 1114px #fff,
    1659px 1207px #fff, 1999px 971px #fff, 1560px 1710px #fff, 23px 1014px #fff,
    1988px 157px #fff, 271px 981px #fff, 262px 1610px #fff, 389px 1765px #fff,
    532px 920px #fff, 1205px 284px #fff, 129px 1061px #fff, 1784px 62px #fff,
    1029px 737px #fff, 160px 635px #fff, 355px 367px #fff, 1489px 890px #fff,
    1992px 734px #fff, 220px 508px #fff, 641px 1656px #fff, 1777px 1668px #fff,
    492px 1484px #fff, 288px 604px #fff, 1536px 632px #fff, 1606px 1954px #fff,
    1296px 1631px #fff, 908px 727px #fff, 43px 1668px #fff, 1526px 1594px #fff,
    1946px 977px #fff, 1046px 118px #fff, 581px 1707px #fff, 845px 482px #fff,
    1501px 562px #fff, 1430px 1750px #fff, 1179px 111px #fff, 1688px 1419px #fff,
    119px 1544px #fff, 1228px 368px #fff, 1407px 1322px #fff, 27px 1184px #fff,
    816px 14px #fff, 1610px 471px #fff, 1527px 1898px #fff, 1506px 217px #fff,
    186px 350px #fff, 1783px 207px #fff, 991px 1235px #fff, 772px 226px #fff,
    874px 953px #fff, 1144px 1081px #fff, 1848px 484px #fff, 1507px 1463px #fff,
    1380px 1061px #fff, 1382px 76px #fff, 597px 139px #fff, 1231px 32px #fff,
    546px 1735px #fff, 305px 30px #fff, 102px 16px #fff, 582px 680px #fff,
    1205px 1378px #fff, 1969px 1091px #fff, 1705px 311px #fff,
    1573px 1215px #fff, 1979px 865px #fff, 1663px 777px #fff, 1982px 1102px #fff,
    985px 737px #fff, 1424px 1503px #fff, 1373px 82px #fff, 1767px 748px #fff,
    632px 250px #fff, 690px 89px #fff, 1283px 1664px #fff, 1413px 891px #fff,
    1180px 902px #fff, 158px 363px #fff, 1968px 63px #fff, 451px 996px #fff,
    419px 1222px #fff, 1377px 134px #fff, 1102px 1697px #fff, 964px 675px #fff,
    1516px 336px #fff, 1651px 693px #fff, 430px 49px #fff, 1263px 1554px #fff,
    1771px 396px #fff, 1288px 565px #fff, 1564px 1772px #fff, 1427px 341px #fff,
    1553px 637px #fff, 234px 625px #fff, 1579px 1356px #fff, 707px 1720px #fff,
    1292px 1393px #fff, 664px 135px #fff, 604px 1086px #fff, 1931px 8px #fff,
    416px 658px #fff, 1967px 1940px #fff, 1330px 169px #fff, 1206px 634px #fff,
    180px 618px #fff, 284px 1486px #fff, 1824px 1657px #fff, 550px 1937px #fff,
    1775px 1097px #fff, 520px 1541px #fff, 1937px 477px #fff, 1213px 974px #fff,
    1283px 548px #fff, 596px 151px #fff, 1493px 1775px #fff, 107px 891px #fff,
    1712px 856px #fff, 942px 1323px #fff, 1137px 1821px #fff, 604px 1588px #fff,
    553px 1447px #fff, 245px 240px #fff, 903px 1739px #fff, 590px 154px #fff,
    512px 1420px #fff, 1831px 872px #fff, 1300px 1805px #fff, 1414px 1751px #fff,
    1837px 138px #fff, 1842px 1523px #fff, 1603px 1208px #fff, 600px 1924px #fff,
    300px 444px #fff, 1692px 1287px #fff, 1599px 1831px #fff, 919px 1028px #fff,
    858px 1881px #fff, 598px 1616px #fff, 1337px 1951px #fff, 1980px 1095px #fff,
    1034px 1472px #fff, 194px 575px #fff, 833px 709px #fff, 970px 1348px #fff,
    986px 732px #fff, 1979px 556px #fff, 1815px 287px #fff, 1966px 572px #fff,
    787px 1176px #fff, 1340px 675px #fff, 374px 1180px #fff, 1831px 667px #fff,
    976px 1427px #fff, 1059px 1430px #fff, 1224px 1062px #fff, 845px 1550px #fff,
    917px 1108px #fff, 586px 490px #fff, 1263px 1794px #fff, 489px 1470px #fff,
    660px 486px #fff, 1307px 44px #fff, 258px 1651px #fff, 144px 261px #fff,
    918px 1007px #fff, 517px 635px #fff, 886px 437px #fff, 1594px 1534px #fff,
    1642px 6px #fff, 1020px 867px #fff, 1559px 1202px #fff, 243px 733px #fff,
    553px 621px #fff, 990px 1732px #fff, 454px 1155px #fff, 1036px 355px #fff,
    399px 100px #fff, 720px 1410px #fff, 390px 95px #fff, 1453px 663px #fff,
    705px 34px #fff, 507px 90px #fff, 550px 217px #fff, 1473px 1963px #fff,
    1662px 697px #fff, 1574px 1768px #fff, 8px 907px #fff, 1944px 1122px #fff,
    159px 1020px #fff, 827px 282px #fff, 250px 1117px #fff, 1294px 758px #fff,
    1303px 593px #fff, 1611px 701px #fff, 1775px 518px #fff, 1472px 1135px #fff,
    198px 1511px #fff, 1953px 1614px #fff, 140px 1784px #fff, 1729px 587px #fff,
    713px 1150px #fff, 648px 1597px #fff, 1998px 313px #fff, 988px 1544px #fff,
    814px 1739px #fff, 720px 1587px #fff, 729px 1544px #fff, 1001px 1996px #fff,
    1668px 863px #fff, 870px 39px #fff, 1102px 1879px #fff, 145px 1600px #fff,
    752px 355px #fff, 1220px 1528px #fff, 552px 163px #fff, 916px 390px #fff,
    1166px 1579px #fff, 1442px 1072px #fff, 84px 996px #fff, 1428px 808px #fff,
    627px 150px #fff, 923px 347px #fff, 1357px 1057px #fff, 1658px 1617px #fff,
    933px 1760px #fff, 1951px 1549px #fff, 212px 1409px #fff, 1197px 288px #fff,
    840px 1082px #fff, 776px 1109px #fff, 263px 578px #fff, 872px 1626px #fff,
    1503px 1260px #fff, 1255px 613px #fff, 1453px 1567px #fff, 155px 1042px #fff,
    1200px 438px #fff, 78px 749px #fff, 959px 221px #fff, 1450px 1862px #fff,
    1930px 266px #fff, 466px 1441px #fff, 14px 1222px #fff, 1918px 1134px #fff,
    1744px 746px #fff, 998px 485px #fff, 622px 1928px #fff, 74px 876px #fff,
    753px 1105px #fff, 977px 1502px #fff, 1200px 1406px #fff, 325px 672px #fff,
    448px 285px #fff, 215px 1845px #fff, 1297px 563px #fff, 1753px 1125px #fff,
    582px 869px #fff, 1623px 1172px #fff, 1208px 1177px #fff, 1309px 768px #fff,
    897px 1258px #fff, 529px 225px #fff, 961px 542px #fff, 348px 738px #fff,
    554px 720px #fff, 933px 856px #fff, 1414px 628px #fff, 1202px 704px #fff,
    409px 1301px #fff, 1245px 732px #fff, 388px 1229px #fff, 722px 1285px #fff,
    1625px 933px #fff, 1368px 1096px #fff, 1282px 683px #fff, 1201px 39px #fff,
    1344px 1039px #fff, 1768px 93px #fff, 115px 331px #fff, 515px 1912px #fff,
    779px 573px #fff, 1524px 1687px #fff, 1054px 694px #fff, 1798px 786px #fff,
    582px 1665px #fff, 1939px 1582px #fff, 1707px 92px #fff, 1113px 1001px #fff,
    39px 818px #fff, 683px 972px #fff, 899px 638px #fff, 653px 1999px #fff,
    346px 305px #fff, 299px 739px #fff, 1910px 830px #fff, 92px 1361px #fff,
    1647px 1082px #fff, 515px 886px #fff, 1563px 872px #fff, 404px 1398px #fff,
    1290px 1970px #fff, 36px 50px #fff, 503px 785px #fff, 707px 562px #fff,
    1009px 1725px #fff, 1072px 1820px #fff, 735px 1686px #fff,
    1574px 1260px #fff, 868px 122px #fff, 1084px 1862px #fff, 703px 1474px #fff,
    131px 354px #fff, 1049px 197px #fff, 1454px 1911px #fff, 661px 1500px #fff,
    1467px 1674px #fff, 579px 801px #fff, 1173px 395px #fff, 1938px 1767px #fff,
    1859px 1243px #fff, 223px 1452px #fff, 664px 613px #fff, 265px 1797px #fff,
    1530px 873px #fff, 439px 716px #fff, 1458px 358px #fff, 423px 1855px #fff,
    990px 778px #fff, 1222px 1902px #fff, 1479px 1758px #fff, 63px 337px #fff,
    457px 209px #fff, 1881px 1992px #fff, 1519px 1449px #fff, 485px 1437px #fff,
    1465px 579px #fff, 242px 1683px #fff, 194px 989px #fff, 1px 533px #fff,
    1031px 480px #fff, 1874px 1208px #fff, 1872px 1507px #fff, 206px 211px #fff,
    911px 1707px #fff, 1442px 1363px #fff, 1390px 1610px #fff, 747px 1343px #fff,
    96px 1146px #fff, 926px 1598px #fff, 212px 414px #fff, 1873px 710px #fff,
    1565px 831px #fff, 1322px 1824px #fff, 1152px 370px #fff, 1253px 1640px #fff,
    1769px 468px #fff, 770px 586px #fff, 1990px 1184px #fff, 1107px 494px #fff,
    1705px 1771px #fff, 1210px 1086px #fff, 1170px 1235px #fff,
    503px 1440px #fff, 1614px 657px #fff, 1517px 1479px #fff, 241px 219px #fff,
    1449px 906px #fff, 118px 52px #fff, 797px 131px #fff, 1579px 639px #fff,
    419px 1105px #fff, 472px 1790px #fff, 1908px 15px #fff, 1146px 1249px #fff,
    1904px 1606px #fff, 1142px 1023px #fff, 392px 1658px #fff, 103px 1739px #fff,
    84px 1584px #fff, 1165px 1225px #fff, 941px 525px #fff, 1258px 1525px #fff,
    1521px 1614px #fff, 1036px 992px #fff, 108px 261px #fff, 647px 1649px #fff,
    742px 1216px #fff, 778px 864px #fff, 1375px 1807px #fff, 1725px 1920px #fff,
    1372px 1118px #fff, 539px 1086px #fff, 1063px 78px #fff, 1106px 1964px #fff,
    62px 1366px #fff, 1277px 856px #fff, 1419px 780px #fff, 1917px 1586px #fff,
    1510px 1510px #fff, 1770px 1560px #fff, 187px 1742px #fff, 847px 560px #fff,
    704px 8px #fff, 1493px 335px #fff, 312px 54px #fff, 1534px 1247px #fff,
    502px 689px #fff, 168px 814px #fff, 1856px 1768px #fff, 711px 1218px #fff,
    360px 307px #fff, 516px 648px #fff, 28px 336px #fff, 1720px 1187px #fff,
    440px 293px #fff, 975px 1055px #fff, 1019px 811px #fff, 461px 1675px #fff,
    456px 1487px #fff, 842px 1295px #fff, 1353px 1658px #fff, 1777px 251px #fff,
    7px 1651px #fff, 48px 1882px #fff, 347px 1803px #fff, 1178px 1109px #fff,
    117px 39px #fff, 164px 1305px #fff, 1009px 1946px #fff, 868px 1249px #fff,
    1430px 735px #fff, 453px 60px #fff, 1733px 63px #fff, 409px 136px #fff,
    1284px 391px #fff, 442px 1661px #fff, 1999px 489px #fff, 1213px 1411px #fff,
    635px 274px #fff, 1260px 1251px #fff, 1121px 1616px #fff, 1904px 1975px #fff,
    428px 118px #fff, 1823px 717px #fff, 841px 101px #fff, 1000px 1250px #fff,
    1495px 1727px #fff, 926px 865px #fff, 1299px 1906px #fff, 72px 353px #fff,
    262px 1618px #fff, 209px 1094px #fff, 330px 1651px #fff, 843px 1882px #fff,
    994px 454px #fff, 398px 1827px #fff, 783px 308px #fff, 1102px 1972px #fff,
    1027px 1242px #fff, 964px 1236px #fff, 147px 185px #fff, 156px 1057px #fff,
    211px 592px #fff, 1261px 938px #fff, 708px 486px #fff, 1554px 452px #fff,
    19px 405px #fff, 1800px 20px #fff, 176px 516px #fff, 1794px 616px #fff,
    567px 709px #fff, 1489px 1564px #fff, 1234px 391px #fff, 1874px 58px #fff,
    147px 1326px #fff, 517px 1088px #fff, 81px 447px #fff, 114px 867px #fff,
    408px 940px #fff, 1393px 1457px #fff, 968px 132px #fff, 101px 515px #fff,
    1330px 1036px #fff, 885px 1360px #fff, 377px 1229px #fff, 188px 892px #fff,
    911px 262px #fff, 1402px 1766px #fff, 249px 1502px #fff, 1846px 159px #fff,
    1602px 597px #fff, 1006px 136px #fff, 1815px 1525px #fff, 1151px 1164px #fff,
    487px 629px #fff, 1182px 860px #fff, 1252px 940px #fff, 1071px 989px #fff,
    753px 163px #fff, 1099px 1403px #fff, 1403px 997px #fff, 1221px 1422px #fff,
    1328px 1490px #fff, 1588px 1949px #fff, 1094px 1760px #fff, 974px 704px #fff,
    358px 369px #fff, 402px 1833px #fff, 1637px 685px #fff, 730px 1797px #fff,
    871px 171px #fff, 255px 1437px #fff, 505px 467px #fff, 392px 943px #fff,
    1400px 390px #fff, 1167px 411px #fff, 1351px 682px #fff, 368px 1564px #fff,
    1632px 1658px #fff, 1828px 1783px #fff, 1728px 1261px #fff,
    1622px 526px #fff, 1026px 107px #fff, 1629px 1201px #fff, 972px 580px #fff,
    1940px 1955px #fff, 1520px 319px #fff, 1140px 1499px #fff,
    1347px 1630px #fff, 1524px 384px #fff, 941px 1758px #fff, 1510px 1056px #fff,
    425px 631px #fff, 1388px 1081px #fff, 1810px 1800px #fff, 631px 463px #fff,
    1122px 187px #fff, 895px 1188px #fff, 765px 231px #fff, 585px 1072px #fff,
    477px 973px #fff, 1663px 461px #fff, 1542px 1222px #fff, 496px 582px #fff,
    318px 579px #fff, 1657px 1243px #fff, 1880px 731px #fff, 1464px 842px #fff,
    27px 1557px #fff, 1067px 722px #fff, 915px 1048px #fff, 593px 1957px #fff,
    174px 907px #fff, 1796px 1480px #fff, 704px 180px #fff, 1447px 883px #fff,
    993px 1282px #fff, 1170px 3px #fff, 1543px 587px #fff, 39px 509px #fff,
    1864px 524px #fff, 41px 1842px #fff, 1720px 1864px #fff, 1512px 1574px #fff,
    635px 1465px #fff, 1410px 1766px #fff, 324px 1157px #fff, 974px 574px #fff,
    613px 1546px #fff, 1042px 611px #fff, 976px 1216px #fff, 529px 1439px #fff,
    148px 189px #fff, 573px 145px #fff, 1964px 1405px #fff, 1349px 763px #fff,
    449px 90px #fff, 1349px 571px #fff, 1246px 702px #fff, 1126px 604px #fff,
    33px 865px #fff, 541px 1596px #fff, 1503px 1638px #fff, 561px 923px #fff,
    58px 775px #fff, 1007px 42px #fff, 1204px 1499px #fff, 1575px 84px #fff,
    270px 1998px #fff, 856px 886px #fff, 1296px 607px #fff, 1691px 1045px #fff,
    319px 151px #fff, 967px 737px #fff, 911px 1148px #fff, 1660px 1551px #fff,
    1371px 1707px #fff, 715px 1668px #fff, 353px 975px #fff, 205px 492px #fff,
    802px 1211px #fff, 655px 729px #fff, 1305px 1306px #fff, 257px 1287px #fff,
    1013px 658px #fff, 167px 878px #fff, 1417px 651px #fff, 1691px 35px #fff,
    294px 671px #fff, 323px 1304px #fff, 722px 1355px #fff, 1095px 259px #fff,
    1572px 1409px #fff, 1478px 6px #fff, 807px 600px #fff, 1547px 648px #fff,
    1365px 182px #fff, 1037px 52px #fff, 1056px 1590px #fff, 277px 1010px #fff,
    1502px 1189px #fff, 670px 1334px #fff, 1610px 293px #fff, 119px 1337px #fff,
    758px 614px #fff, 137px 59px #fff, 1881px 1742px #fff, 1333px 776px #fff,
    470px 1514px #fff, 1419px 347px #fff, 1080px 842px #fff, 1127px 977px #fff,
    228px 1219px #fff, 1186px 1908px #fff, 1261px 784px #fff, 346px 562px #fff,
    405px 625px #fff, 438px 672px #fff, 565px 380px #fff, 1341px 56px #fff,
    270px 1841px #fff, 150px 1149px #fff, 485px 890px #fff, 1915px 1663px #fff,
    16px 282px #fff, 1676px 1613px #fff, 64px 427px #fff, 419px 1276px #fff,
    1914px 1220px #fff, 1167px 1715px #fff, 498px 356px #fff, 1724px 1211px #fff,
    1935px 1153px #fff, 1280px 538px #fff, 678px 1998px #fff, 524px 1846px #fff,
    1424px 1405px #fff, 796px 64px #fff, 1681px 1576px #fff, 1940px 1309px #fff,
    197px 1216px #fff, 1846px 168px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 318px 758px #fff, 1522px 446px #fff, 1134px 897px #fff,
    453px 1465px #fff, 24px 1116px #fff, 1520px 1075px #fff, 1966px 871px #fff,
    707px 1782px #fff, 338px 338px #fff, 1315px 1947px #fff, 1536px 1971px #fff,
    349px 22px #fff, 1627px 124px #fff, 540px 1310px #fff, 1323px 1868px #fff,
    569px 9px #fff, 1665px 1117px #fff, 582px 1811px #fff, 578px 111px #fff,
    1325px 415px #fff, 1552px 907px #fff, 596px 993px #fff, 759px 578px #fff,
    901px 585px #fff, 1802px 1273px #fff, 967px 166px #fff, 874px 770px #fff,
    715px 1253px #fff, 1230px 529px #fff, 1808px 1824px #fff, 592px 607px #fff,
    1280px 263px #fff, 1240px 1949px #fff, 1501px 388px #fff, 610px 1865px #fff,
    1558px 467px #fff, 823px 1610px #fff, 1039px 941px #fff, 1415px 1114px #fff,
    1659px 1207px #fff, 1999px 971px #fff, 1560px 1710px #fff, 23px 1014px #fff,
    1988px 157px #fff, 271px 981px #fff, 262px 1610px #fff, 389px 1765px #fff,
    532px 920px #fff, 1205px 284px #fff, 129px 1061px #fff, 1784px 62px #fff,
    1029px 737px #fff, 160px 635px #fff, 355px 367px #fff, 1489px 890px #fff,
    1992px 734px #fff, 220px 508px #fff, 641px 1656px #fff, 1777px 1668px #fff,
    492px 1484px #fff, 288px 604px #fff, 1536px 632px #fff, 1606px 1954px #fff,
    1296px 1631px #fff, 908px 727px #fff, 43px 1668px #fff, 1526px 1594px #fff,
    1946px 977px #fff, 1046px 118px #fff, 581px 1707px #fff, 845px 482px #fff,
    1501px 562px #fff, 1430px 1750px #fff, 1179px 111px #fff, 1688px 1419px #fff,
    119px 1544px #fff, 1228px 368px #fff, 1407px 1322px #fff, 27px 1184px #fff,
    816px 14px #fff, 1610px 471px #fff, 1527px 1898px #fff, 1506px 217px #fff,
    186px 350px #fff, 1783px 207px #fff, 991px 1235px #fff, 772px 226px #fff,
    874px 953px #fff, 1144px 1081px #fff, 1848px 484px #fff, 1507px 1463px #fff,
    1380px 1061px #fff, 1382px 76px #fff, 597px 139px #fff, 1231px 32px #fff,
    546px 1735px #fff, 305px 30px #fff, 102px 16px #fff, 582px 680px #fff,
    1205px 1378px #fff, 1969px 1091px #fff, 1705px 311px #fff,
    1573px 1215px #fff, 1979px 865px #fff, 1663px 777px #fff, 1982px 1102px #fff,
    985px 737px #fff, 1424px 1503px #fff, 1373px 82px #fff, 1767px 748px #fff,
    632px 250px #fff, 690px 89px #fff, 1283px 1664px #fff, 1413px 891px #fff,
    1180px 902px #fff, 158px 363px #fff, 1968px 63px #fff, 451px 996px #fff,
    419px 1222px #fff, 1377px 134px #fff, 1102px 1697px #fff, 964px 675px #fff,
    1516px 336px #fff, 1651px 693px #fff, 430px 49px #fff, 1263px 1554px #fff,
    1771px 396px #fff, 1288px 565px #fff, 1564px 1772px #fff, 1427px 341px #fff,
    1553px 637px #fff, 234px 625px #fff, 1579px 1356px #fff, 707px 1720px #fff,
    1292px 1393px #fff, 664px 135px #fff, 604px 1086px #fff, 1931px 8px #fff,
    416px 658px #fff, 1967px 1940px #fff, 1330px 169px #fff, 1206px 634px #fff,
    180px 618px #fff, 284px 1486px #fff, 1824px 1657px #fff, 550px 1937px #fff,
    1775px 1097px #fff, 520px 1541px #fff, 1937px 477px #fff, 1213px 974px #fff,
    1283px 548px #fff, 596px 151px #fff, 1493px 1775px #fff, 107px 891px #fff,
    1712px 856px #fff, 942px 1323px #fff, 1137px 1821px #fff, 604px 1588px #fff,
    553px 1447px #fff, 245px 240px #fff, 903px 1739px #fff, 590px 154px #fff,
    512px 1420px #fff, 1831px 872px #fff, 1300px 1805px #fff, 1414px 1751px #fff,
    1837px 138px #fff, 1842px 1523px #fff, 1603px 1208px #fff, 600px 1924px #fff,
    300px 444px #fff, 1692px 1287px #fff, 1599px 1831px #fff, 919px 1028px #fff,
    858px 1881px #fff, 598px 1616px #fff, 1337px 1951px #fff, 1980px 1095px #fff,
    1034px 1472px #fff, 194px 575px #fff, 833px 709px #fff, 970px 1348px #fff,
    986px 732px #fff, 1979px 556px #fff, 1815px 287px #fff, 1966px 572px #fff,
    787px 1176px #fff, 1340px 675px #fff, 374px 1180px #fff, 1831px 667px #fff,
    976px 1427px #fff, 1059px 1430px #fff, 1224px 1062px #fff, 845px 1550px #fff,
    917px 1108px #fff, 586px 490px #fff, 1263px 1794px #fff, 489px 1470px #fff,
    660px 486px #fff, 1307px 44px #fff, 258px 1651px #fff, 144px 261px #fff,
    918px 1007px #fff, 517px 635px #fff, 886px 437px #fff, 1594px 1534px #fff,
    1642px 6px #fff, 1020px 867px #fff, 1559px 1202px #fff, 243px 733px #fff,
    553px 621px #fff, 990px 1732px #fff, 454px 1155px #fff, 1036px 355px #fff,
    399px 100px #fff, 720px 1410px #fff, 390px 95px #fff, 1453px 663px #fff,
    705px 34px #fff, 507px 90px #fff, 550px 217px #fff, 1473px 1963px #fff,
    1662px 697px #fff, 1574px 1768px #fff, 8px 907px #fff, 1944px 1122px #fff,
    159px 1020px #fff, 827px 282px #fff, 250px 1117px #fff, 1294px 758px #fff,
    1303px 593px #fff, 1611px 701px #fff, 1775px 518px #fff, 1472px 1135px #fff,
    198px 1511px #fff, 1953px 1614px #fff, 140px 1784px #fff, 1729px 587px #fff,
    713px 1150px #fff, 648px 1597px #fff, 1998px 313px #fff, 988px 1544px #fff,
    814px 1739px #fff, 720px 1587px #fff, 729px 1544px #fff, 1001px 1996px #fff,
    1668px 863px #fff, 870px 39px #fff, 1102px 1879px #fff, 145px 1600px #fff,
    752px 355px #fff, 1220px 1528px #fff, 552px 163px #fff, 916px 390px #fff,
    1166px 1579px #fff, 1442px 1072px #fff, 84px 996px #fff, 1428px 808px #fff,
    627px 150px #fff, 923px 347px #fff, 1357px 1057px #fff, 1658px 1617px #fff,
    933px 1760px #fff, 1951px 1549px #fff, 212px 1409px #fff, 1197px 288px #fff,
    840px 1082px #fff, 776px 1109px #fff, 263px 578px #fff, 872px 1626px #fff,
    1503px 1260px #fff, 1255px 613px #fff, 1453px 1567px #fff, 155px 1042px #fff,
    1200px 438px #fff, 78px 749px #fff, 959px 221px #fff, 1450px 1862px #fff,
    1930px 266px #fff, 466px 1441px #fff, 14px 1222px #fff, 1918px 1134px #fff,
    1744px 746px #fff, 998px 485px #fff, 622px 1928px #fff, 74px 876px #fff,
    753px 1105px #fff, 977px 1502px #fff, 1200px 1406px #fff, 325px 672px #fff,
    448px 285px #fff, 215px 1845px #fff, 1297px 563px #fff, 1753px 1125px #fff,
    582px 869px #fff, 1623px 1172px #fff, 1208px 1177px #fff, 1309px 768px #fff,
    897px 1258px #fff, 529px 225px #fff, 961px 542px #fff, 348px 738px #fff,
    554px 720px #fff, 933px 856px #fff, 1414px 628px #fff, 1202px 704px #fff,
    409px 1301px #fff, 1245px 732px #fff, 388px 1229px #fff, 722px 1285px #fff,
    1625px 933px #fff, 1368px 1096px #fff, 1282px 683px #fff, 1201px 39px #fff,
    1344px 1039px #fff, 1768px 93px #fff, 115px 331px #fff, 515px 1912px #fff,
    779px 573px #fff, 1524px 1687px #fff, 1054px 694px #fff, 1798px 786px #fff,
    582px 1665px #fff, 1939px 1582px #fff, 1707px 92px #fff, 1113px 1001px #fff,
    39px 818px #fff, 683px 972px #fff, 899px 638px #fff, 653px 1999px #fff,
    346px 305px #fff, 299px 739px #fff, 1910px 830px #fff, 92px 1361px #fff,
    1647px 1082px #fff, 515px 886px #fff, 1563px 872px #fff, 404px 1398px #fff,
    1290px 1970px #fff, 36px 50px #fff, 503px 785px #fff, 707px 562px #fff,
    1009px 1725px #fff, 1072px 1820px #fff, 735px 1686px #fff,
    1574px 1260px #fff, 868px 122px #fff, 1084px 1862px #fff, 703px 1474px #fff,
    131px 354px #fff, 1049px 197px #fff, 1454px 1911px #fff, 661px 1500px #fff,
    1467px 1674px #fff, 579px 801px #fff, 1173px 395px #fff, 1938px 1767px #fff,
    1859px 1243px #fff, 223px 1452px #fff, 664px 613px #fff, 265px 1797px #fff,
    1530px 873px #fff, 439px 716px #fff, 1458px 358px #fff, 423px 1855px #fff,
    990px 778px #fff, 1222px 1902px #fff, 1479px 1758px #fff, 63px 337px #fff,
    457px 209px #fff, 1881px 1992px #fff, 1519px 1449px #fff, 485px 1437px #fff,
    1465px 579px #fff, 242px 1683px #fff, 194px 989px #fff, 1px 533px #fff,
    1031px 480px #fff, 1874px 1208px #fff, 1872px 1507px #fff, 206px 211px #fff,
    911px 1707px #fff, 1442px 1363px #fff, 1390px 1610px #fff, 747px 1343px #fff,
    96px 1146px #fff, 926px 1598px #fff, 212px 414px #fff, 1873px 710px #fff,
    1565px 831px #fff, 1322px 1824px #fff, 1152px 370px #fff, 1253px 1640px #fff,
    1769px 468px #fff, 770px 586px #fff, 1990px 1184px #fff, 1107px 494px #fff,
    1705px 1771px #fff, 1210px 1086px #fff, 1170px 1235px #fff,
    503px 1440px #fff, 1614px 657px #fff, 1517px 1479px #fff, 241px 219px #fff,
    1449px 906px #fff, 118px 52px #fff, 797px 131px #fff, 1579px 639px #fff,
    419px 1105px #fff, 472px 1790px #fff, 1908px 15px #fff, 1146px 1249px #fff,
    1904px 1606px #fff, 1142px 1023px #fff, 392px 1658px #fff, 103px 1739px #fff,
    84px 1584px #fff, 1165px 1225px #fff, 941px 525px #fff, 1258px 1525px #fff,
    1521px 1614px #fff, 1036px 992px #fff, 108px 261px #fff, 647px 1649px #fff,
    742px 1216px #fff, 778px 864px #fff, 1375px 1807px #fff, 1725px 1920px #fff,
    1372px 1118px #fff, 539px 1086px #fff, 1063px 78px #fff, 1106px 1964px #fff,
    62px 1366px #fff, 1277px 856px #fff, 1419px 780px #fff, 1917px 1586px #fff,
    1510px 1510px #fff, 1770px 1560px #fff, 187px 1742px #fff, 847px 560px #fff,
    704px 8px #fff, 1493px 335px #fff, 312px 54px #fff, 1534px 1247px #fff,
    502px 689px #fff, 168px 814px #fff, 1856px 1768px #fff, 711px 1218px #fff,
    360px 307px #fff, 516px 648px #fff, 28px 336px #fff, 1720px 1187px #fff,
    440px 293px #fff, 975px 1055px #fff, 1019px 811px #fff, 461px 1675px #fff,
    456px 1487px #fff, 842px 1295px #fff, 1353px 1658px #fff, 1777px 251px #fff,
    7px 1651px #fff, 48px 1882px #fff, 347px 1803px #fff, 1178px 1109px #fff,
    117px 39px #fff, 164px 1305px #fff, 1009px 1946px #fff, 868px 1249px #fff,
    1430px 735px #fff, 453px 60px #fff, 1733px 63px #fff, 409px 136px #fff,
    1284px 391px #fff, 442px 1661px #fff, 1999px 489px #fff, 1213px 1411px #fff,
    635px 274px #fff, 1260px 1251px #fff, 1121px 1616px #fff, 1904px 1975px #fff,
    428px 118px #fff, 1823px 717px #fff, 841px 101px #fff, 1000px 1250px #fff,
    1495px 1727px #fff, 926px 865px #fff, 1299px 1906px #fff, 72px 353px #fff,
    262px 1618px #fff, 209px 1094px #fff, 330px 1651px #fff, 843px 1882px #fff,
    994px 454px #fff, 398px 1827px #fff, 783px 308px #fff, 1102px 1972px #fff,
    1027px 1242px #fff, 964px 1236px #fff, 147px 185px #fff, 156px 1057px #fff,
    211px 592px #fff, 1261px 938px #fff, 708px 486px #fff, 1554px 452px #fff,
    19px 405px #fff, 1800px 20px #fff, 176px 516px #fff, 1794px 616px #fff,
    567px 709px #fff, 1489px 1564px #fff, 1234px 391px #fff, 1874px 58px #fff,
    147px 1326px #fff, 517px 1088px #fff, 81px 447px #fff, 114px 867px #fff,
    408px 940px #fff, 1393px 1457px #fff, 968px 132px #fff, 101px 515px #fff,
    1330px 1036px #fff, 885px 1360px #fff, 377px 1229px #fff, 188px 892px #fff,
    911px 262px #fff, 1402px 1766px #fff, 249px 1502px #fff, 1846px 159px #fff,
    1602px 597px #fff, 1006px 136px #fff, 1815px 1525px #fff, 1151px 1164px #fff,
    487px 629px #fff, 1182px 860px #fff, 1252px 940px #fff, 1071px 989px #fff,
    753px 163px #fff, 1099px 1403px #fff, 1403px 997px #fff, 1221px 1422px #fff,
    1328px 1490px #fff, 1588px 1949px #fff, 1094px 1760px #fff, 974px 704px #fff,
    358px 369px #fff, 402px 1833px #fff, 1637px 685px #fff, 730px 1797px #fff,
    871px 171px #fff, 255px 1437px #fff, 505px 467px #fff, 392px 943px #fff,
    1400px 390px #fff, 1167px 411px #fff, 1351px 682px #fff, 368px 1564px #fff,
    1632px 1658px #fff, 1828px 1783px #fff, 1728px 1261px #fff,
    1622px 526px #fff, 1026px 107px #fff, 1629px 1201px #fff, 972px 580px #fff,
    1940px 1955px #fff, 1520px 319px #fff, 1140px 1499px #fff,
    1347px 1630px #fff, 1524px 384px #fff, 941px 1758px #fff, 1510px 1056px #fff,
    425px 631px #fff, 1388px 1081px #fff, 1810px 1800px #fff, 631px 463px #fff,
    1122px 187px #fff, 895px 1188px #fff, 765px 231px #fff, 585px 1072px #fff,
    477px 973px #fff, 1663px 461px #fff, 1542px 1222px #fff, 496px 582px #fff,
    318px 579px #fff, 1657px 1243px #fff, 1880px 731px #fff, 1464px 842px #fff,
    27px 1557px #fff, 1067px 722px #fff, 915px 1048px #fff, 593px 1957px #fff,
    174px 907px #fff, 1796px 1480px #fff, 704px 180px #fff, 1447px 883px #fff,
    993px 1282px #fff, 1170px 3px #fff, 1543px 587px #fff, 39px 509px #fff,
    1864px 524px #fff, 41px 1842px #fff, 1720px 1864px #fff, 1512px 1574px #fff,
    635px 1465px #fff, 1410px 1766px #fff, 324px 1157px #fff, 974px 574px #fff,
    613px 1546px #fff, 1042px 611px #fff, 976px 1216px #fff, 529px 1439px #fff,
    148px 189px #fff, 573px 145px #fff, 1964px 1405px #fff, 1349px 763px #fff,
    449px 90px #fff, 1349px 571px #fff, 1246px 702px #fff, 1126px 604px #fff,
    33px 865px #fff, 541px 1596px #fff, 1503px 1638px #fff, 561px 923px #fff,
    58px 775px #fff, 1007px 42px #fff, 1204px 1499px #fff, 1575px 84px #fff,
    270px 1998px #fff, 856px 886px #fff, 1296px 607px #fff, 1691px 1045px #fff,
    319px 151px #fff, 967px 737px #fff, 911px 1148px #fff, 1660px 1551px #fff,
    1371px 1707px #fff, 715px 1668px #fff, 353px 975px #fff, 205px 492px #fff,
    802px 1211px #fff, 655px 729px #fff, 1305px 1306px #fff, 257px 1287px #fff,
    1013px 658px #fff, 167px 878px #fff, 1417px 651px #fff, 1691px 35px #fff,
    294px 671px #fff, 323px 1304px #fff, 722px 1355px #fff, 1095px 259px #fff,
    1572px 1409px #fff, 1478px 6px #fff, 807px 600px #fff, 1547px 648px #fff,
    1365px 182px #fff, 1037px 52px #fff, 1056px 1590px #fff, 277px 1010px #fff,
    1502px 1189px #fff, 670px 1334px #fff, 1610px 293px #fff, 119px 1337px #fff,
    758px 614px #fff, 137px 59px #fff, 1881px 1742px #fff, 1333px 776px #fff,
    470px 1514px #fff, 1419px 347px #fff, 1080px 842px #fff, 1127px 977px #fff,
    228px 1219px #fff, 1186px 1908px #fff, 1261px 784px #fff, 346px 562px #fff,
    405px 625px #fff, 438px 672px #fff, 565px 380px #fff, 1341px 56px #fff,
    270px 1841px #fff, 150px 1149px #fff, 485px 890px #fff, 1915px 1663px #fff,
    16px 282px #fff, 1676px 1613px #fff, 64px 427px #fff, 419px 1276px #fff,
    1914px 1220px #fff, 1167px 1715px #fff, 498px 356px #fff, 1724px 1211px #fff,
    1935px 1153px #fff, 1280px 538px #fff, 678px 1998px #fff, 524px 1846px #fff,
    1424px 1405px #fff, 796px 64px #fff, 1681px 1576px #fff, 1940px 1309px #fff,
    197px 1216px #fff, 1846px 168px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1345px 1811px #fff, 1421px 1869px #fff, 1567px 1852px #fff,
    303px 1490px #fff, 1214px 614px #fff, 1779px 1572px #fff, 1095px 205px #fff,
    907px 1221px #fff, 1223px 1510px #fff, 34px 67px #fff, 1869px 565px #fff,
    164px 188px #fff, 1123px 1885px #fff, 475px 1790px #fff, 1161px 1807px #fff,
    845px 1680px #fff, 1524px 1588px #fff, 170px 1392px #fff, 1062px 668px #fff,
    1161px 302px #fff, 1032px 1520px #fff, 974px 1976px #fff, 842px 1967px #fff,
    351px 1710px #fff, 743px 565px #fff, 1204px 555px #fff, 1839px 1165px #fff,
    1529px 1206px #fff, 1587px 243px #fff, 1746px 1578px #fff, 1837px 511px #fff,
    1902px 1905px #fff, 1831px 1287px #fff, 709px 704px #fff, 1634px 1998px #fff,
    587px 324px #fff, 742px 1062px #fff, 321px 157px #fff, 1092px 62px #fff,
    1442px 602px #fff, 1234px 1390px #fff, 1252px 1137px #fff,
    1812px 1920px #fff, 537px 255px #fff, 370px 1352px #fff, 452px 1074px #fff,
    646px 214px #fff, 894px 1897px #fff, 395px 993px #fff, 47px 68px #fff,
    1369px 1857px #fff, 354px 491px #fff, 1262px 1551px #fff, 1167px 431px #fff,
    838px 1223px #fff, 902px 906px #fff, 1843px 1311px #fff, 753px 199px #fff,
    15px 1347px #fff, 1340px 334px #fff, 804px 328px #fff, 141px 1123px #fff,
    1512px 1148px #fff, 1258px 44px #fff, 380px 480px #fff, 659px 1371px #fff,
    1769px 1681px #fff, 358px 454px #fff, 69px 866px #fff, 39px 1407px #fff,
    1282px 1763px #fff, 1848px 113px #fff, 712px 1858px #fff, 1360px 497px #fff,
    19px 861px #fff, 263px 1677px #fff, 212px 1646px #fff, 1842px 1171px #fff,
    483px 1847px #fff, 201px 995px #fff, 385px 1163px #fff, 696px 1648px #fff,
    1649px 1874px #fff, 1616px 1875px #fff, 583px 2px #fff, 943px 1784px #fff,
    782px 1434px #fff, 689px 1595px #fff, 392px 1589px #fff, 1419px 1489px #fff,
    1345px 19px #fff, 1556px 84px #fff, 943px 426px #fff, 245px 1203px #fff,
    252px 637px #fff, 204px 1155px #fff, 1041px 1808px #fff, 1469px 943px #fff,
    99px 425px #fff, 527px 509px #fff, 1230px 421px #fff, 1830px 252px #fff,
    1031px 354px #fff, 1566px 59px #fff, 258px 537px #fff, 576px 643px #fff,
    264px 452px #fff, 1708px 1586px #fff, 1658px 1520px #fff, 536px 1562px #fff,
    1589px 391px #fff, 944px 705px #fff, 1732px 189px #fff, 1662px 1161px #fff,
    827px 1051px #fff, 1057px 1245px #fff, 483px 1290px #fff, 1086px 1606px #fff,
    987px 521px #fff, 1161px 1823px #fff, 863px 1899px #fff, 907px 225px #fff,
    1441px 1016px #fff, 1968px 85px #fff, 1635px 1127px #fff, 671px 562px #fff,
    1897px 1168px #fff, 1642px 1721px #fff, 1413px 1152px #fff,
    268px 1163px #fff, 1728px 1537px #fff, 1418px 1436px #fff, 688px 656px #fff,
    1081px 641px #fff, 1556px 1905px #fff, 1884px 834px #fff, 305px 793px #fff,
    587px 1325px #fff, 1172px 1151px #fff, 1852px 349px #fff, 1021px 1870px #fff,
    1128px 1230px #fff, 320px 1432px #fff, 1940px 682px #fff, 1582px 897px #fff,
    1113px 1617px #fff, 1199px 1486px #fff, 1761px 1606px #fff,
    1863px 155px #fff, 1579px 429px #fff, 1511px 932px #fff, 1335px 1976px #fff,
    137px 550px #fff, 7px 899px #fff, 1787px 1626px #fff, 886px 1152px #fff,
    1117px 416px #fff, 118px 1025px #fff, 992px 125px #fff, 928px 668px #fff,
    619px 1067px #fff, 472px 286px #fff, 1976px 973px #fff, 1119px 893px #fff,
    616px 306px #fff, 1711px 879px #fff, 1257px 296px #fff, 610px 1593px #fff,
    111px 420px #fff, 1257px 1464px #fff, 593px 223px #fff, 126px 394px #fff,
    1447px 334px #fff, 340px 1294px #fff, 808px 428px #fff, 1634px 1592px #fff,
    298px 1376px #fff, 1293px 1706px #fff, 608px 1573px #fff, 1997px 798px #fff,
    1268px 486px #fff, 611px 1110px #fff, 1498px 926px #fff, 1726px 1518px #fff,
    198px 1361px #fff, 796px 1126px #fff, 1142px 365px #fff, 1547px 625px #fff,
    885px 707px #fff, 1622px 954px #fff, 1356px 1418px #fff, 557px 1750px #fff,
    148px 268px #fff, 125px 1154px #fff, 942px 448px #fff, 329px 1450px #fff,
    450px 807px #fff, 566px 1054px #fff, 373px 834px #fff, 34px 396px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1345px 1811px #fff, 1421px 1869px #fff, 1567px 1852px #fff,
    303px 1490px #fff, 1214px 614px #fff, 1779px 1572px #fff, 1095px 205px #fff,
    907px 1221px #fff, 1223px 1510px #fff, 34px 67px #fff, 1869px 565px #fff,
    164px 188px #fff, 1123px 1885px #fff, 475px 1790px #fff, 1161px 1807px #fff,
    845px 1680px #fff, 1524px 1588px #fff, 170px 1392px #fff, 1062px 668px #fff,
    1161px 302px #fff, 1032px 1520px #fff, 974px 1976px #fff, 842px 1967px #fff,
    351px 1710px #fff, 743px 565px #fff, 1204px 555px #fff, 1839px 1165px #fff,
    1529px 1206px #fff, 1587px 243px #fff, 1746px 1578px #fff, 1837px 511px #fff,
    1902px 1905px #fff, 1831px 1287px #fff, 709px 704px #fff, 1634px 1998px #fff,
    587px 324px #fff, 742px 1062px #fff, 321px 157px #fff, 1092px 62px #fff,
    1442px 602px #fff, 1234px 1390px #fff, 1252px 1137px #fff,
    1812px 1920px #fff, 537px 255px #fff, 370px 1352px #fff, 452px 1074px #fff,
    646px 214px #fff, 894px 1897px #fff, 395px 993px #fff, 47px 68px #fff,
    1369px 1857px #fff, 354px 491px #fff, 1262px 1551px #fff, 1167px 431px #fff,
    838px 1223px #fff, 902px 906px #fff, 1843px 1311px #fff, 753px 199px #fff,
    15px 1347px #fff, 1340px 334px #fff, 804px 328px #fff, 141px 1123px #fff,
    1512px 1148px #fff, 1258px 44px #fff, 380px 480px #fff, 659px 1371px #fff,
    1769px 1681px #fff, 358px 454px #fff, 69px 866px #fff, 39px 1407px #fff,
    1282px 1763px #fff, 1848px 113px #fff, 712px 1858px #fff, 1360px 497px #fff,
    19px 861px #fff, 263px 1677px #fff, 212px 1646px #fff, 1842px 1171px #fff,
    483px 1847px #fff, 201px 995px #fff, 385px 1163px #fff, 696px 1648px #fff,
    1649px 1874px #fff, 1616px 1875px #fff, 583px 2px #fff, 943px 1784px #fff,
    782px 1434px #fff, 689px 1595px #fff, 392px 1589px #fff, 1419px 1489px #fff,
    1345px 19px #fff, 1556px 84px #fff, 943px 426px #fff, 245px 1203px #fff,
    252px 637px #fff, 204px 1155px #fff, 1041px 1808px #fff, 1469px 943px #fff,
    99px 425px #fff, 527px 509px #fff, 1230px 421px #fff, 1830px 252px #fff,
    1031px 354px #fff, 1566px 59px #fff, 258px 537px #fff, 576px 643px #fff,
    264px 452px #fff, 1708px 1586px #fff, 1658px 1520px #fff, 536px 1562px #fff,
    1589px 391px #fff, 944px 705px #fff, 1732px 189px #fff, 1662px 1161px #fff,
    827px 1051px #fff, 1057px 1245px #fff, 483px 1290px #fff, 1086px 1606px #fff,
    987px 521px #fff, 1161px 1823px #fff, 863px 1899px #fff, 907px 225px #fff,
    1441px 1016px #fff, 1968px 85px #fff, 1635px 1127px #fff, 671px 562px #fff,
    1897px 1168px #fff, 1642px 1721px #fff, 1413px 1152px #fff,
    268px 1163px #fff, 1728px 1537px #fff, 1418px 1436px #fff, 688px 656px #fff,
    1081px 641px #fff, 1556px 1905px #fff, 1884px 834px #fff, 305px 793px #fff,
    587px 1325px #fff, 1172px 1151px #fff, 1852px 349px #fff, 1021px 1870px #fff,
    1128px 1230px #fff, 320px 1432px #fff, 1940px 682px #fff, 1582px 897px #fff,
    1113px 1617px #fff, 1199px 1486px #fff, 1761px 1606px #fff,
    1863px 155px #fff, 1579px 429px #fff, 1511px 932px #fff, 1335px 1976px #fff,
    137px 550px #fff, 7px 899px #fff, 1787px 1626px #fff, 886px 1152px #fff,
    1117px 416px #fff, 118px 1025px #fff, 992px 125px #fff, 928px 668px #fff,
    619px 1067px #fff, 472px 286px #fff, 1976px 973px #fff, 1119px 893px #fff,
    616px 306px #fff, 1711px 879px #fff, 1257px 296px #fff, 610px 1593px #fff,
    111px 420px #fff, 1257px 1464px #fff, 593px 223px #fff, 126px 394px #fff,
    1447px 334px #fff, 340px 1294px #fff, 808px 428px #fff, 1634px 1592px #fff,
    298px 1376px #fff, 1293px 1706px #fff, 608px 1573px #fff, 1997px 798px #fff,
    1268px 486px #fff, 611px 1110px #fff, 1498px 926px #fff, 1726px 1518px #fff,
    198px 1361px #fff, 796px 1126px #fff, 1142px 365px #fff, 1547px 625px #fff,
    885px 707px #fff, 1622px 954px #fff, 1356px 1418px #fff, 557px 1750px #fff,
    148px 268px #fff, 125px 1154px #fff, 942px 448px #fff, 329px 1450px #fff,
    450px 807px #fff, 566px 1054px #fff, 373px 834px #fff, 34px 396px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 844px 706px #fff, 1373px 1352px #fff, 806px 1019px #fff,
    1261px 70px #fff, 945px 736px #fff, 1851px 363px #fff, 390px 1956px #fff,
    1464px 1858px #fff, 1029px 1562px #fff, 88px 202px #fff, 189px 967px #fff,
    94px 343px #fff, 336px 1240px #fff, 575px 19px #fff, 1157px 139px #fff,
    973px 679px #fff, 349px 390px #fff, 866px 1343px #fff, 337px 384px #fff,
    1738px 1444px #fff, 1959px 1862px #fff, 862px 39px #fff, 1027px 1034px #fff,
    108px 1411px #fff, 1086px 676px #fff, 1158px 447px #fff, 1271px 1337px #fff,
    1266px 1373px #fff, 1724px 795px #fff, 1458px 1335px #fff, 277px 1671px #fff,
    80px 1651px #fff, 208px 1457px #fff, 541px 484px #fff, 192px 504px #fff,
    209px 1324px #fff, 461px 1677px #fff, 994px 925px #fff, 473px 1303px #fff,
    769px 1573px #fff, 1902px 1330px #fff, 642px 1756px #fff, 1143px 1108px #fff,
    1137px 1938px #fff, 96px 521px #fff, 1160px 744px #fff, 702px 107px #fff,
    1937px 1884px #fff, 1197px 1938px #fff, 454px 1851px #fff, 155px 280px #fff,
    401px 1807px #fff, 996px 1983px #fff, 1433px 700px #fff, 1260px 1993px #fff,
    1070px 1790px #fff, 702px 394px #fff, 203px 260px #fff, 322px 706px #fff,
    1752px 1073px #fff, 457px 676px #fff, 1157px 1063px #fff, 849px 1894px #fff,
    1825px 718px #fff, 333px 1371px #fff, 312px 438px #fff, 1274px 1717px #fff,
    1975px 814px #fff, 1828px 965px #fff, 1016px 40px #fff, 200px 1964px #fff,
    1242px 1204px #fff, 1581px 1061px #fff, 82px 1024px #fff, 430px 460px #fff,
    461px 1640px #fff, 1811px 896px #fff, 1670px 1097px #fff, 1873px 466px #fff,
    1542px 1981px #fff, 1048px 659px #fff, 1782px 445px #fff, 576px 1959px #fff,
    1922px 929px #fff, 343px 645px #fff, 818px 565px #fff, 885px 1017px #fff,
    493px 934px #fff, 643px 1992px #fff, 396px 281px #fff, 628px 1804px #fff,
    940px 658px #fff, 768px 1848px #fff, 1136px 1128px #fff, 1276px 847px #fff,
    460px 1547px #fff, 29px 827px #fff, 1548px 1737px #fff, 839px 1908px #fff,
    1551px 189px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 844px 706px #fff, 1373px 1352px #fff, 806px 1019px #fff,
    1261px 70px #fff, 945px 736px #fff, 1851px 363px #fff, 390px 1956px #fff,
    1464px 1858px #fff, 1029px 1562px #fff, 88px 202px #fff, 189px 967px #fff,
    94px 343px #fff, 336px 1240px #fff, 575px 19px #fff, 1157px 139px #fff,
    973px 679px #fff, 349px 390px #fff, 866px 1343px #fff, 337px 384px #fff,
    1738px 1444px #fff, 1959px 1862px #fff, 862px 39px #fff, 1027px 1034px #fff,
    108px 1411px #fff, 1086px 676px #fff, 1158px 447px #fff, 1271px 1337px #fff,
    1266px 1373px #fff, 1724px 795px #fff, 1458px 1335px #fff, 277px 1671px #fff,
    80px 1651px #fff, 208px 1457px #fff, 541px 484px #fff, 192px 504px #fff,
    209px 1324px #fff, 461px 1677px #fff, 994px 925px #fff, 473px 1303px #fff,
    769px 1573px #fff, 1902px 1330px #fff, 642px 1756px #fff, 1143px 1108px #fff,
    1137px 1938px #fff, 96px 521px #fff, 1160px 744px #fff, 702px 107px #fff,
    1937px 1884px #fff, 1197px 1938px #fff, 454px 1851px #fff, 155px 280px #fff,
    401px 1807px #fff, 996px 1983px #fff, 1433px 700px #fff, 1260px 1993px #fff,
    1070px 1790px #fff, 702px 394px #fff, 203px 260px #fff, 322px 706px #fff,
    1752px 1073px #fff, 457px 676px #fff, 1157px 1063px #fff, 849px 1894px #fff,
    1825px 718px #fff, 333px 1371px #fff, 312px 438px #fff, 1274px 1717px #fff,
    1975px 814px #fff, 1828px 965px #fff, 1016px 40px #fff, 200px 1964px #fff,
    1242px 1204px #fff, 1581px 1061px #fff, 82px 1024px #fff, 430px 460px #fff,
    461px 1640px #fff, 1811px 896px #fff, 1670px 1097px #fff, 1873px 466px #fff,
    1542px 1981px #fff, 1048px 659px #fff, 1782px 445px #fff, 576px 1959px #fff,
    1922px 929px #fff, 343px 645px #fff, 818px 565px #fff, 885px 1017px #fff,
    493px 934px #fff, 643px 1992px #fff, 396px 281px #fff, 628px 1804px #fff,
    940px 658px #fff, 768px 1848px #fff, 1136px 1128px #fff, 1276px 847px #fff,
    460px 1547px #fff, 29px 827px #fff, 1548px 1737px #fff, 839px 1908px #fff,
    1551px 189px #fff;
}
